<%= link_to "Back to the list", escorts_path%>

<div><%= cl_image_tag @escort.photo, height: 300, width: 400, crop: :fill %></div>
<ul>
  <h2><strong> Pseudo: </strong><%= @escort.pseudo %></h2>
  <li><strong> City: </strong><%= @escort.city %></li>
  <li>
    <strong> Services: </strong><ul><% @escort.service.tr('[]', '').tr('"', '').split(',').each do |element| %>
      <li><%= element %></li>
      <% end %></ul>
  <li><strong> Status: </strong><%= @escort.status %></li>
  <li><strong> Gender: </strong><%= @escort.gender%></li>
  <li><strong> Contact: </strong><%= @escort.contact %></li>
  <li><strong> Age: </strong><%= @escort.age %> years old</li>
  <li><strong> Price: </strong><%= @escort.price %> €</li>
</ul>
