<ul>
  <li><%= @escort.pseudo %></li>
  <li><%= @escort.city %></li>
  <li><%= @escort.service %></li>
  <li><%= @escort.status %></li>
  <li><%= @escort.gender%></li>
  <li><%= @escort.contact %></li>
  <li><%= @escort.age %></li>
  <li><%= @escort.price %></li>
</ul>
