<div class="delete-left-margin"></div>
<div class="delete-right-margin">
  <div
    id="map"
    class="escort-map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>

<div class="col-xs-6 show-escort">
  <!-- <h2>Your reservation:</h2> -->
  <%= render "escorts/show", escort: @escort %>
</div>
<div class="col-xs-1">


</div>
<div class="col-xs-5 show-calendar">
  <div class="text-center">
    Plan a reservation :
    <%= link_to "", new_escort_reservation_path(@escort), class:"btn btn-gradient pull-right far fa-calendar-check" %>

    <div class="escort-profile-bottom-card">
      <div class="escort-pics-bot">
        <img class="es-pics" src=<%= @escort.photos %> width="42%">
        <img class="es-pics" src=<%= @escort.photos %> width="42%">
        <img class="es-pics" src=<%= @escort.photos %> width="42%">
        <img class="es-pics" src=<%= @escort.photos %> width="42%">
      </div>
      <div class="escort-profile-card-bottom-infos">
        <h2>Previous reviews for <%= @escort.pseudo.capitalize %></h2>
        <% if @escort.reviews.blank? %>
          <p>No existing reviews, be the first one and book an appointment!</p>
        <% else %>
        <ul>
          <% @escort.reviews.each do |review| %>
            <li><p><strong>Rating:</strong><% review.rating.to_i.times do  %>
            <span class="glyphicon glyphicon-star"></span>
            <% end %>
            <% review.blank_stars.times do %>
            <span class="glyphicon glyphicon-star-empty"></span>
            <% end %>
            <li><p><strong>Comment:</strong><%= review.content %></p></li>
          <% end %>
        </ul>
        <% end%>
      </div>
    </div>
  </div>
</div>

