<%= link_to "Back to the list", escorts_path%>


<%= @escort.photos %>
<ul>
  <h2><strong> Pseudo: </strong><%= @escort.pseudo %></h2>
  <li><strong> City: </strong><%= @escort.city %></li>
  <li>
    <strong> Services: </strong><ul><% @escort.service.tr('[]', '').tr('"', '').split(',').each do |element| %>
      <li><%= element %></li>
      <% end %></ul>
  <li><strong> Status: </strong><%= @escort.status %></li>
  <li><strong> Gender: </strong><%= @escort.gender%></li>
  <li><strong> Contact: </strong><%= @escort.contact %></li>
  <li><strong> Age: </strong><%= @escort.age %> years old</li>
  <li><strong> Price: </strong><%= @escort.price %> €</li>
</ul>


<%= link_to "Make a reservation", new_escort_reservation_path(@escort) %>
