<div class="delete-left-margin"></div>
<div class="delete-right-margin"></div>

<div class="col-xs-6 show-escort">
  <h2>Your reservation:</h2>
  <%= render "escorts/show", escort: @escort %>
</div>
<div class="col-xs-1">

</div>
<div class="col-xs-5 show-calendar">
<%= simple_form_for [@escort ,@reservation] do |f| %>
  <div class="form-inputs">
    <%= f.input :date, as: :string,
                required: true,
                autofocus: false,
                input_html: { value: Date.today} %>
    <%= f.input :message,
                as: :text,
                required: false,
                input_html: { autocomplete: "current-password" },
                placeholder: 'Please add a small message...' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Reserve!", class: 'btn btn-resa btn-primary' %>
  </div>
<% end %>
</div>
