<div class="delete-left-margin"></div>
<div class="delete-right-margin">

</div>

<div class="col-xs-6 show-escort">
  <!-- <h2>Your reservation:</h2> -->
  <%= render "escorts/show", escort: @escort %>
</div>
<div class="col-xs-1">

</div>
<div class="col-xs-5 show-calendar">
  <div class="row">
  <%= render 'form' %>
  </div>
</div>


<div class='map-offset'><%= @markers %></div>
<div
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
