<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Seeking company... Click here!</title>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>

  <body>

    <%= render "pages/navbar" %>
    <% if notice.nil? == false %>
      <div class="alert notice alert-info"><%= notice %></div>
    <% end %>
    <% if alert.nil? == false%>
      <div class="alert alert-warning"><%= alert %></div>
    <% end %>
    <div class="container">
    <%= render "pages/search" %>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
